<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.84.4790.14417" targetFramework="net40-Client" />
  <package id="SharpCompress" version="0.20.0" targetFramework="net40-Client" />
  <package id="Gw2Sharp" version="0.2.0" targetFramework="net40-Client" />
</packages>